page-playlist {
    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.21) !important;
    }

    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    .toolbar .searchbar-ios .searchbar-input {
        background: white;
    } 

    /*.scroll-content {
        padding-top: 45px !important;
    }*/

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
