<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exhortations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen padding *ngIf="exhortations">
  <timeline endIcon="bookmarks">
    <timeline-item *ngFor="let exhortation of exhortations">
      <timeline-time [time]="exhortation.created"></timeline-time>
      <ion-icon [name]="exhortation.icon"></ion-icon>
      <ion-card>
        <ion-card-content class="text-body">
          <h3 class="style-header">{{exhortation.title}}</h3>
          <div class="textwrap">
            <div class="read-more">
              <div class="content">
                <p>{{exhortation.fulltext}}</p>
              </div>
              <span data-read-more="+ read more" data-read-less="- show less" class="trigger" onclick="this.parentElement.classList.toggle('expanded')"></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </timeline-item>
    
  </timeline> 

</ion-content>
