page-exhortations {
    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(58, 119, 184, 0.927) !important;
    }

    .style-header{
        margin-bottom: 9px;
        font-size: 19px;
    }

    .text-body {
        text-align: justify;
        padding-left: 7px;
        padding-right: 7px;
    }

    .style_span_first {
        font-size: 19px;
        font-weight: 600;
    }

    .style_span_second {
        font-size: 13px !important;
        font-family: Arial;
        margin-top: 3px;
    }

    .content p, div, h3, strong, u, ul, li {
        font-size: 19px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content h1 {
        font-size: 21px;
    }

    .card-ios h3{
        font-size: 19px;
    }

}
