page-exhortations {
    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(58, 119, 184, 0.927) !important;
    }

    .swiper-slide:not(.swiper-slide-active) > div {
        display:none;
    }

    p, li, h3 {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        letter-spacing: .03em;
        hyphens: auto;
        text-align: justify;
        margin-top: 0.5em;
        text-shadow:0 0 1px transparent;
        color: #131516;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0.3em;
        letter-spacing: .05em;
    }

    h2 {
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0.3em;
        letter-spacing: .05em
    }

    // POP-IN (FLOAT ACTION BUTTON EFFECT) -------------
    .pop-in {
        animation: pop-in 0.65s;
    }
    @keyframes pop-in {
        0% {
            transform: scale(0); 
        }
        45% {
            transform: scale(0);
        }
        90% {
            transform: scale(1.15);
        }
        100% {
            transform: scale(1);
        }
    }

    .styleFab {
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.1);
    }
    
}
