<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exhortations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen padding *ngIf="exhortations">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="wrapper">
    <ion-slides #slider loop="true" effect="slide" direction="horizontal" zoom="true">
      <ion-slide *ngFor="let exhortation of exhortations">
        <ion-card>
          <ion-card-content>
            <h2 text-left [innerHTML]="exhortation.title"></h2>
            <p text-left [innerHTML]="exhortation.fulltext"></p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
