page-ondemandcategories {
    ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
  .toolbar-background {
    color: red !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
  $default: #f53d3d;
  .item-ribbon{
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $default;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid $default;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid $default;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
      }
    }
  }

  $cruzeiro: #387ef5;
  .ribbon.cruzeiro {
    span {
      background: $cruzeiro;
      &::before {
        border-left: 3px solid $cruzeiro;
        border-top: 3px solid $cruzeiro;
      }
      &::after {
        border-right: 3px solid $cruzeiro;
        border-top: 3px solid $cruzeiro;
      }
    }
  }

  $atletico: darken(#f4f4f4, 45%);
  .ribbon.atletico {
    span {
      background: $atletico;
      &::before {
        border-left: 3px solid $atletico;
        border-top: 3px solid $atletico;
      }
      &::after {
        border-right: 3px solid $atletico;
        border-top: 3px solid $atletico;
      }
    }
  }
}

ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20vh 10vw;
} 