<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Highlights</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content fullscreen>
  <ion-grid class="verticalAlignCentre" *ngIf="slides">
    <ion-slides #slider autoplay="3000" centeredSlides="true" pager="true" paginationType="fraction" effect="cube" loop="true" (ionSlideDidChange)="onSlideChanged()">
      <ion-slide *ngFor="let slide of slides">
        <img-loader [src]="slide.imageUrl" useImg></img-loader>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
