<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Highlights</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content fullscreen>
  <ion-grid class="verticalAlignCentre">
<!--    <ion-slides #slider autoplay="2000" effect="{{slideEffect}}" (ionSlideDidChange)="onSlideChanged()" *ngIf="slides && slides.length">
      <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')'}">
        <h2>{{slide.title}}</h2>
        <p> {{slide.description}} </p>
      </ion-slide>
    </ion-slides>-->
    <ion-slides #slider autoplay="2000" effect="{{slideEffect}}" (ionSlideDidChange)="onSlideChanged()">
      <ion-slide class="slide_1">
      </ion-slide>
      <ion-slide class="slide_2">
      </ion-slide>
      <ion-slide class="slide_3">
      </ion-slide>
      <ion-slide class="slide_4">
      </ion-slide>
      <ion-slide class="slide_5">
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
