<!--
  Generated template for the RadioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bible Witness Radio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen class="general-style" *ngIf="radioplaylist && radiolinks">
    <div id="center" [ngStyle]="{ 'background': 'url(' + radiolinks.backgroundImg + ')'}">
      <div id="menu"></div>
      <div id="album">
        <div id="art" [ngStyle]="{ 'background-image': 'url(' + radiolinks.avatarImg + ')'}"></div>
      </div>
      <div id="current-song">{{radioplaylist.current.title}}</div>
      <div id="current-artist"><div id="sta">{{radioplaylist.current.artist}}</div></div>
      <div id="time"><div id="fint">{{radioplaylist.current.time}}</div></div>
      <ion-grid>
          <ion-row justify-content-center align-items-center style="height: 100%">
    
            <ion-col>
              <!-- Play/Pause -->
              <button ion-button clear class="play-pause-btn" (click)="playRadio()" *ngIf="!isStreaming">
                <ion-icon name="play" class="play-button-position"></ion-icon>
              </button>
    
              <button ion-button clear class="play-pause-btn" (click)=" pauseRadio()" *ngIf="isStreaming">
                <ion-icon name="pause"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      <div id="space"></div>
      <div id="info">
        <div id="play">
          <div id="next-title">next: {{radioplaylist.next.title}}</div>
          <div id="next-artist">{{radioplaylist.next.artist}}</div>
        </div>
      </div>
    </div>
</ion-content>
