<!--
  Generated template for the RadioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>radio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Playback section -->
  <div text-center>
    <!-- File name -->
    <br>
    <h1>{{ filename }}</h1>
    <br>

    <!-- avatar -->
    <div class="avatar"></div>
    <br>
    
    <ion-grid>
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-col>
          <!-- Play/Pause -->
          <button ion-button class="play-pause-btn" (click)="playRadio()" color="primary" *ngIf="!is_playing" [disabled]="!is_ready">
            <ion-icon name="play"></ion-icon>
          </button>

          <button ion-button class="play-pause-btn" (click)=" pauseRadio()" color="secondary" *ngIf="is_playing" [disabled]="!is_ready">
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
