<!--
  Generated template for the RadioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bible Witness Radio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen class="general-style" *ngIf="radioplaylist && radiolinks">
    <div id="center" [ngStyle]="{ 'background': 'url(' + radiolinks.backgroundImg + ')'}">
      <div id="menu"></div>
      <ion-row class="adjust-top" align-items-center justify-content-center>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <img class="user-avatar round" [src]="radiolinks.avatarImg"/>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <div id="current-song">{{radioplaylist.current.title}}</div>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <div id="current-artist"><div id="sta">{{radioplaylist.current.artist}}</div></div>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <div id="time"><div id="fint">{{radioplaylist.current.timing}}</div></div>
      </ion-row>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col>
            <!-- Play/Pause -->
            <button ion-button clear class="play-pause-btn" (click)="playRadio()" *ngIf="!isStreaming">
              <ion-icon name="play" class="play-button-position"></ion-icon>
            </button>
  
            <button ion-button clear class="play-pause-btn" (click)=" pauseRadio()" *ngIf="isStreaming">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <div id="info">
            <div id="play">
              <ion-row align-items-center justify-content-center>
                <div id="next-title">Next: {{radioplaylist.next.title}}</div>
              </ion-row>
              <ion-row justify-content-center align-items-center>
                <div id="next-artist">{{radioplaylist.next.artist}}</div>
              </ion-row>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
