<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Testimonies</ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen padding *ngIf="testimonies">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <timeline endIcon="bookmarks">
    <timeline-item *ngFor="let testimony of testimonies">
      <timeline-time [time]="testimony.created"></timeline-time>
      <ion-icon name="quote"></ion-icon>
      <ion-card>
        <ion-card-content class="text-body">
          <h3 class="style-header">{{testimony.title}}</h3>
          <div class="textwrap">
            <div class="read-more">
              <div class="content" [innerHTML]="testimony.fulltext"></div>
              <span data-read-more="+ read more" data-read-less="- show less" class="trigger" onclick="this.parentElement.classList.toggle('expanded')"></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </timeline-item>
  </timeline> 
</ion-content>
