page-testimony {
    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.21) !important;
    }

    .style-header {
        margin-bottom: 7px;
    }

    .text-body {
        text-align: justify;
        padding-left: 7px;
        padding-right: 7px;
    }

    .style_span_first {
        font-size: 19px;
        font-weight: normal;
    }

    .style_span_second {
        font-size: 13px !important;
        font-family: Arial;
    }

    timeline .timeline timeline-item {
        margin-top: 26px;
    }

    .content{
        font-size: 19px;
    }
}
