page-devotions {
    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.21) !important;
    }

    .scroll-content {
        padding-top: 45px !important;
    }

    .style-header {
        margin-bottom: 7px;
    }

    .text-body {
        text-align: justify;
    }
}
