page-devotions {
    .bar-button,
    .toolbar-title {
      color: #fff;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(58, 119, 184, 0.927) !important;
    }

    .swiper-slide:not(.swiper-slide-active) > div {
        display:none;
    }

    p {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        letter-spacing: .03em;
        hyphens: auto;
        text-align: justify;
    }

    .card p {
        margin-top: 0.5em;
    }
}
