<ion-header no-border>

  <ion-navbar transparent>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Devotions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen *ngIf="devotions">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="wrapper">
    <ion-slides #slider loop="true" effect="slide" direction="horizontal" zoom="true">
      <ion-slide *ngFor="let devotion of devotions">
        <ion-card>
          <ion-card-content>
            <p text-left [innerHTML]="devotion.fulltext"></p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

