page-menu {
    .round {
        border-radius: 50%;
    }
    
    // Sidemenu with avatar
    #menu-avatar {
        .user-avatar {
        padding: .5em;
        }
        h3,
        .label {
        color: white;
        font-weight: bold;
        }
        .item {
        background: transparent;
        }
        ion-content {
        background: linear-gradient(48deg, rgba(120, 186, 210, 0.913) 0%, rgba(108, 213, 162, 0.961) 28%, rgba(58, 119, 184, 0.927) 93%, rgba(17, 107, 176, 0.872) 100%);
        }
        .menu-inner {
        background: rgba(255, 255, 255, .3);
        }
    }
}
