page-popupfabmodal {
    -moz-animation: fade-in .8s ease-in-out;
    -webkit-animation: fade-in .8s ease-in-out;
    animation: fade-in .8s ease-in-out;
    @-moz-keyframes fade-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes fade-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes fade-in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    .scroll-content {
        padding-top: 0px !important;
    }

    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: rgba(58, 119, 184, 0.927) !important;
    }

    .bar-button,
    .toolbar-title {
        color: white;
    }

    .close_button_style{
        font-size: 47px !important;
        color: white;
        font-weight: 900;
    }

    .adjustTop{
        margin-top: 22%;
    }  

    .styleText li {
        margin-top:7px;
    }
}

ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0px !important;
    }
}
