<!--
  Generated template for the PopupfabmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons right>
      <button ion-button large strong (click)="dismiss(false)">
          <ion-icon name="close" class="close_button_style"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Our Elders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="container" *ngIf="churchInfo">
    <div class="adjustTop">
  <ion-grid>
    <ion-slides loop="true" centeredSlides="true" pager="true" paginationType="fraction" effect="flip" direction="horizontal">
      <ion-slide *ngFor="let card of churchInfo.churchSessionAndStaff">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <h2>{{card.front.title}}</h2>
                <p>{{card.front.subtitle}}</p>
              </ion-item>
              <img [src]="card.front.image">
              <ion-card-content class="styleText">
                <p text-left [innerHTML]="card.back.content"></p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  </div>
</ion-content>